<div class="dashcontainer z-depth-4">

  <nav>
    <div class="nav-wrapper dashnav">
      <a href="/" class="brand-logo right">Quiz Application</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/create/quiz">Create Quiz</a></li>
      </ul>
    </div>
  </nav>


<div id="quiz-container" class="quiz-wrapper">

</div>

</div>

<script>
  const values='{{{quizzes}}}';
  var quizzes=JSON.parse(values);
  var quiz_div=document.getElementById('quiz-container');
  quizzes.forEach(quiz=>{
    console.log(quiz);
    var node =document.createElement('div');
    node.className="quiz-item";
    node.innerHTML=`<div class="quiz_element">
      
       <div class="col quiz-item">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">${quiz.quiz_name}</span>
     
        </div>
        <div class="card-action">
          <a href="/give-quiz/${quiz._id} class="waves-effect waves-light btn-large">Attempt Quiz</a>
        </div>
      </div>
    </div>
  </div>`
  quiz_div.append(node);
  });

</script>