<div class="dashcontainer z-depth-4">

<nav>
    <div class="nav-wrapper dashnav">
      <a href="/" class="brand-logo right">Quiz Application</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/create/quiz">Create Quiz</a></li>
      </ul>
    </div>
</nav>

<div class="at-quiz"></div>

</div>